__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Logs
logs/*.log
logs/*.log.*

# Config local
config/.env

# Build de PyInstaller
build/
dist/
*.spec.bak

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
